
.header,
.main {
  width: calc(100% - #{$sidebar-width});
  margin-left: $sidebar-width;
}

.header {
  display: flex;
  justify-content: space-between;
  height: $header-height;
  border-bottom: 1px solid $default-border-color;  
  align-items: center;
}

.search-box {
  position: relative;
  width: 275px;
  height: 42px;
  margin: 27px 55px;

  input {
    width: 275px;
    height: 42px;
    border-radius: 20px;
    border: 1px solid $default-border-color;
    color: $default-border-color;
    padding-left: 20px;

    &::placeholder {
      color:$default-border-color;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 3px 3px #bcbcbc;
    }
  }

  &:hover {
    color: blue;
  }

  a {
    position: absolute;
    top: 12px;
    right: 0;
    margin-right: 15px;
  }
  
  svg {
    height: 13px;
    fill: $default-border-color;
  }
}

.preview_links {
  margin-right: 33px;

  ul {
    display: flex;
    align-items: baseline;
  }

  li {
    margin-left: 33px;
  }

  a {
    display: block;
  
    &:hover path {
      stroke: #F59A2C;
    }
  }
}

