.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  border-right: 1px solid $default-border-color;
  padding-top: 102px;

  ul {
    border-top: 1px solid #BCBCBC;
    position: relative;
  }
  
  li:hover > ul {
    display: block;
  }

  .menu_leve1 {
    text-decoration: none;
    padding: 16px 24px;
    display: block;
    color: #3B3D40;
    font-size: 16px;
    font-family: 'open_sansregular';
    border-bottom: 1px solid #BCBCBC;

    &:hover {
      color: #F59A2C;
      border-left: 5px solid #F59A2C;
    }
  }
}

.sidebar_submenu {
  display: none;
  background: #F9F9F9;

  &:hover {
    display: block;
  }

  .menu_level2 {
    display: block;
    color: #3B3D40;
    font-size: 12px;
    font-family: 'open_sansregular';
    padding: 5px 24px;
    text-decoration: none;
    color: #838D8F;

    &:hover {
      color: #F59A2C;
      border-left: 3px solid #F59A2C;
    }
  }
}

