.section_content_transform {
  display: flex;
  justify-content: space-around;
}

.scene {
  width: 200px;
  height: 200px;
  margin: 35px 25px;
  perspective: 400px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  line-height: 200px;
  font-size: 40px;
  font-family: 'open_sansregular';
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face--front  { background: hsla(  0, 100%, 50%, 0.7); }
.cube__face--right  { background: hsla( 60, 100%, 50%, 0.7); }
.cube__face--back   { background: hsla(120, 100%, 50%, 0.7); }
.cube__face--left   { background: hsla(180, 100%, 50%, 0.7); }
.cube__face--top    { background: hsla(240, 100%, 50%, 0.7); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.7); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

.radio-group {
  width: 230px;
  margin-top: 30px;
  margin-left: -12px;

  label { 
    margin-right: 5px; 
    color: #3B3D40;

    &:hover {
      color: #F59A2C;
      border-bottom: 1px solid #F59A2C;
    }
  }
}

////transform card flip

.scene_2 {
  width: 200px;
  height: 260px;
  border: 1px solid #CCC;
  margin-right: 100px;
  perspective: 600px;

  p {
    margin: 10px 40px;
  }
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-family: 'open_sansregular';
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background: red;
}

.card__face--back {
  background: blue;
  transform: rotateY(180deg);
}

/////////////////////////////////
.door {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.scene_3 {
  display: flex;
  width: 140px;
  height: 180px;
  margin: 20px 20px;
  border: 3px solid #F59A2C;
  box-shadow: 0 0 10px;
}

.scene_card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  background-color: #0d7490;
  
  
}

.card_door {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 170px;
  color: white;
  text-align: center;
  font-family: 'open_sansregular';
  font-weight: bold;
  font-size: 20px;
}

.card_1:hover {
  transform: translateX(2em);
}

.card_2:hover {
  transform: translateY(2em);
}

.card_3:hover {
  transform: translate3d(15px, 15px, 15px);
}

.card_4:hover {
  transform: scale3d(1.5, 1.2, 0.3);
}

.card_5:hover {
  transform: scaleX(0.5);
}

.card_6:hover {
  transform: scaleY(0.5);
}

.card_7:hover {
  transform: skewX(30deg);
}

.card_8:hover {
  transform: skewY(30deg);
}

.card_9:hover {
  transform: translateX(10px) rotate(10deg) translateY(5px);
}

.card_10:hover {
  transform: perspective(200px) rotateY(50deg);
}
